h2 {
  color: rgb(35, 35, 255);
  font-size: 45px;
}


body {
  background-color: rgb(252, 176, 189);
}

div {
  text-align: center;
  margin-top: 120px;
}

h1 {
  color: rgb(255, 28, 28);
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  border: 1px solid rgb(255, 54, 148);
  background-color: rgb(253, 99, 158);
  color: white;

}

button:hover {
  background-color: rgb(253, 102, 172);
  box-shadow: 0 0 2px rgb(255, 0, 140);

}